/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Site Styles
================================================== */

body{
  background:#fff;
	font:lighter 14px/30px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5c5c5c;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
nav{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
  line-height:40px;
  background-color:#fff;
  overflow:hidden;
}
h1,h2,h3,h4,h5,h6{display:inline;}
h1{font:bold 18px Georgia, "Times New Roman", serif;}
h2{font-weight:bold;font-size:18px/30px;}
h5{font-weight:lighter;font-size:11px/20px;}
h6{font-weight:lighter;font-size:10px/20px;}
strong{font:bold}

button{
  display:block;
}

select{padding:0;width:220px;}
textarea{min-height:60px;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
ul{overflow:hidden;}
li{float:left;margin-right:10px}
li.r{float:right;}
li:last-of-type{margin-right:0}

a.menu{
  font-size:12px;color:#52a8ff;
  cursor:pointer;
  float:right;
  margin-right:20px;
}
a.btn{
  font-size:20px;
  font-weight:bold;
  color:#52a8ff;
  cursor:pointer;
  display:block;
  text-align:center;
  margin-bottom:20px;
}

/* #Page Styles
================================================== */

.scrolldiv{
  position:relative;
  overflow-x:scroll;
  overflow-y:hidden;
}
#articles{
  margin-top:40px;
}
.article{
  display:inline-block;
  width:300px;
  padding-right:20px;
}
.ln0{
  cursor:pointer;
  color: green;
}

/* #Media Queries
================================================== */
.container{
  position:relative;
  padding:50px 0 0 0;
}

input[type="text"],input[type="password"],input[type="email"],textarea,select{width:460px;margin:0 auto 20px auto;}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    .container{ width: 300px; }
    input[type="text"],input[type="password"],input[type="email"],textarea,select{width:240px;}
  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    input[type="text"],input[type="password"],input[type="email"],textarea,select{width:360px;}
  }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/


